# Playwright
node_modules/
/tests-examples
/playwright-report/
/blob-report/
/playwright/.cache/
/.env 
/.env.test
/eslint.config.mts
node_modules/
playwright-report/
test-results/
.env
.env.test
*.log
.DS_Store